body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/2018-12-06-Текстура\,_линии\,_серый\,_фон.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.welcome-page, .question-page, .results-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); /* Напівпрозорий чорний фон для контенту */
    border-radius: 15px;
    padding: 20px;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.start-test-btn, .next-btn, .prev-btn, .option-btn, .action-btn {
    background-color: #c55b05;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    margin-top: 20px;
}

.start-test-btn:hover, .next-btn:hover, .prev-btn:hover, .option-btn:hover, .action-btn:hover {
    background-color: #fff; /* Змінює фон на білий */
    color: #c55b05; /* Змінює текст на оранжевий */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Додає тінь для ефекту */
}

.question-page h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.option-btn {
    background-color: #c4c4c4;
    color: #333;
    padding: 15px 20px;
    border: 2px solid #c55b05;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.option-btn.selected {
    background-color: #c55b05;
    color: white;
}

.navigation-buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.next-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.results-page h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
    text-align: center; /* Вирівнювання тексту по центру */
}

.recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.recommendation {
    text-align: center;
    margin-bottom: 20px;
}

.recommendation img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.action-btn {
    margin-top: 10px;
}
